<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<header>
  <nav>
  <ul>
    {% for menus in site.data.menus %}
      {% if menus.subcategories != null %}
        <li>
          <a href="{{ site.url }}{{ menus.url }}">{{ menus.title }} ▼</a>
          <ul>
          {% for subcategory in menus.subcategories %}
            <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
          {% endfor %}
          </ul>
        </li>
      {% elsif menus.title == page.title %}
         <li class="active">
           <a href="{{ menus.url }}">{{ menus.title }}</a>
         </li>
      {% else %} 
        <li>
          <a href="{{ site.url }}{{ menus.href }}">{{ menus.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
</header>