<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for menus in site.data.menus %}
          {% if menus.subcategories != null %}
            <li class="nav-link">
              <a href="{{ site.url }}{{ menus.url }}">{{ menus.title }} &#x25BC;</a>
              <ul>
              {% for subcategory in menus.subcategories %}
                <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
              {% endfor %}
              </ul>
            </li>
          {% elsif menus.title == page.title %}
            <li class="nav-link active">
              <a href="{{ menus.url }}">{{ menus.title }}</a>
            </li>
          {% else %} 
            <li class="nav-link">
              <a href="{{ site.url }}{{ menus.href }}">{{ menus.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>